# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Dataset
data/PetImages/

# Trained models
models/*.pkl

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.log